<!DOCTYPE html>
<html>
<head>
    <title>Cidadão encontrado</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    <h1>Cidadão encontrado</h1>
    <p>Nome: {{ nome }}</p>
    <p>Número NIS: {{ nis }}</p>
</body>
</html>
