<!DOCTYPE html>
<html>
<head>
    <title>Cidadão não encontrado</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    <h1>Cidadão não encontrado</h1>
    <p>O número NIS informado não está cadastrado.</p>
</body>
</html>
