<!DOCTYPE html>
<html>
<head>
    <title>Sucesso!</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    <h1>Sucesso!</h1>
    <p>O cidadão foi cadastrado com sucesso. Número NIS gerado: {{ nis }}</p>
</body>
</html>
